POSTGRES_DB=subscriptions
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Для запуска вне Docker измените @db на @localhost
DATABASE_URL=postgres://postgres:postgres@db:5432/subscriptions?sslmode=disable

APP_PORT=8000
LOG_LEVEL=INFO
LOG_DIR=./logs
